<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="product">
    {% include header.html nav=site.data.nav %}

    <!-- HERO -->
    <section class="hero-wrap">
      <div class="{{ page.title }} hero">
        <h1 class="hero-title">{{ page.title }}</h1>
      </div>
    </section>
    <h2>{{ page.subtitle }}</h2>

    <!-- IN-PAGE NAV -->
    <section class="nav-sub-wrap">
      <nav class="nav-sub">
        <ul class="nav-sub-list">
          <li><a href="#benefits">Benefits</a></li>
          <li><a href="#clients">Clients</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <!-- <li><a href="#faq">FAQ</a></li> -->
          <li><a href="#contact">Get in touch</a></li>
        </ul>
      </nav>
    </section>

    <!-- OVERVIEW -->
      <div class="columns content">
        <div class="columns-col100">
          <h2>Overview</h2>
          <p class="intro">{{ page.overview }}</p>
          <blockquote>
            <p>Mastodon C's deep technical expertise with data, and their collaborative approach, have been great for us at City Hall. Their technology powers our new approach to city data storage and analysis, and is a core part of our approach to projecting the future of London.</p>
            <p><cite>Andrew Collinge, Assistant Director of Intelligence and Analysis, Greater London Authority</cite></p>
</blockquote>
        </div>
      </div>
    </section>

    <!-- BENEFITS -->
    <section class="features-wrap">
      <div class="columns">
        <div class="columns-col100">
          <h2 id="benefits">Benefits</h2>
            <ul class="grid grid-50">
              {% for benefit in page.benefits %}
              <li class="grid-item left inline">
                <h1><img src="{{ site.baseurl }}/assets/images/{{ benefit.image }}" alt="" />{{ benefit.title }}</h1>
                <p>{{ benefit.content }}</p>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </section>


    <!-- CLIENTS
    <section class="parade-wrap">
      <div class="columns">
        <div class="columns-col100">
          <h2 id="clients">{{ page.title }} users</h2>
          <ul class="grid">

            <li class="grid-item">
              <span class="grid-link-wrap">
                <a class="ar-content" href="https://www.london.gov.uk/">
                  <img src="{{ site.baseurl }}/assets/images/logo-gla.png" alt="Greater London Authority" />
                </a>
              </span>
            </li>

            <li class="grid-item">
              <span class="grid-link-wrap">
                <a class="ar-content" href="http://www.royalgreenwich.gov.uk/site/">
                  <img src="{{ site.baseurl }}/assets/images/logo-greenwich.jpg" alt="Royal Borough of Greenwich" />
                </a>
              </span>
            </li>

            <li class="grid-item">
              <span class="grid-link-wrap">
                <a class="ar-content" href="https://www.ealing.gov.uk/site/">
                  <img src="{{ site.baseurl }}/assets/images/logo-ealing.jpg" alt="Ealing Council" />
                </a>
              </span>
            </li>


          </ul>
        </div>
      </div>
    </section>
    -->

    <!-- FEATURES -->
    <section class="tech-wrap">
      <div class="columns">
        <div class="columns-col100">
          <h2 id="features">Features</h2>
            <ul class="grid grid-50">
              {% for feature in page.features %}
              <li class="grid-item left">
                <h1>{{ feature.title }}</h1>
                <p>{{ feature.content }}</p>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </section>

    <!-- PRICING -->
    <section class="features-wrap">
      <div class="columns">
        <div class="columns-col100">
          <h2 id="pricing">Pricing</h2>
          <ul class="grid grid-33">

            <li class="grid-item left inline">
              <h1>Witan Single</h1>
              <p>
                Use a single pre-built model on the Witan platform and run it with your own organisation’s data. Run unlimited scenarios. Share the results internally and externally.
              </p>

            </li>

            <li class="grid-item left inline">
              <h1>Witan Strategic</h1>
              <p>
                Upload internal data from across your organisation. Use our core model set of pre-built models for cities and local government. Transform your data the way you need it. Control the sharing of all the data and results.
              </p>

            </li>

            <li class="grid-item left inline">
              <h1>Witan Collect + Share</h1>
              <p>
                Collect data from multiple local authorities or other bodies in a structured, schema-checked way. Use our core model set of pre-built models. Control the sharing of the data uploaded and the results.
              </p>
            </li>

            <!-- FOR -->
            <li class="grid-item left inline">
              <h2>For</h2>
              <p>
                Departmental heads in Local Authorities who need to solve a specific problem, on a one-off or ongoing basis.
              </p>
              <p>
                Providers to Local Authorities who need a robust data-driven predictive model
              </p>
            </li>

            <li class="grid-item left inline">
              <h2>For</h2>
              <p>
                CEOs of Local Authorities who are ready for a strategic solution to data sharing and data-driven decision-making across their organisation.
              </p>
            </li>

            <li class="grid-item left inline">
              <h2>For</h2>
              <p>
                CEOs and Mayors of large Cities and multi-borough regions who want to embrace data-driven decision-making, and have a need to collect data from multiple local authorities.
              </p>
            </li>

            <!-- SETUP COSTS -->
            <li class="grid-item left inline">
              <h2>Set up cost</h2>
              <p>from £5,000</p>
            </li>

            <li class="grid-item left inline">
              <h2>Set up cost</h2>
              <p>from £10,000</p>
            </li>

            <li class="grid-item left inline">
              <h2>Set up cost</h2>
              <p>from £15,000</p>
            </li>

            <!-- MONTHLY COSTS -->
            <li class="grid-item left inline">
              <h2>Monthly cost</h2>
              <p>from £1,000</p>
              <p>(no minimum term)</p>
            </li>

            <li class="grid-item left inline">
              <h2>Monthly cost</h2>
              <p>from £4,000</p>
              <p>(12 month minimum term)</p>
            </li>

            <li class="grid-item left inline">
              <h2>Monthly cost</h2>
              <p>from £6,000</p>
              <p>(12 month minimum term)</p>
            </li>

          </ul>
        </div>
      </div>
    </section>

    <!-- FAQ -->
    <!-- <section class="wrap">
      <div class="columns content">
        <div class="columns-col100">
          <h2 id="faq">Frequently asked questions</h2>
          <dl class="faq">
            {% for qa in site.data.faq %}
            {% if qa.product contains page.title %}
            <dt class="faq-q">{{ qa.question }}</dt>
            <dd class="faq-a">{{ qa.answer }}</dt>
              {% endif %}
            {% endfor %}
          </dl>
        </div>
      </div>
    </section> -->

    <a href="#contact"></a>
    {% include contact.html %}
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
